<!doctype html>
<!--[if IE 8]>
<html class="lt-ie9" lang="ru-RU"> <![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru-RU"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru-RU"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="copyright" content="(c)">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/glDatePicker.default.css">
    <link rel="stylesheet" href="stylesheets/idangerous.swiper.css">
</head>

<body class=<%= bodyClass %>>

