<div class="overlay"></div>
<nav class="menu">
    <div class="menu__logo">
        <a href="#"></a>
    </div>
    <ul>
        <li><a href="#"><i class="icon icon_home"></i>главная</a></li>
        <li class="active"><a href="#"><i class="icon icon_balance"></i>баланс</a></li>
        <li><a href="#"><i class="icon icon_order"></i>заявки</a></li>
        <li><a href="#"><i class="icon icon_settings"></i>настройки</a></li>
    </ul>


        <a class="btnAddOrder" href="#"><i class="icon icon_plus_big"></i><span>Создать заявку!</span></a>

</nav>