<div class="modal" id="swiperModal">
    <div class="modal__btnClose"></div>

    <div class="modal__swiper">

        <div class="swiper-container">
            <div class="swiper-wrapper">
                <% 4.times do %>
                    <div class="swiper-slide">

                            <img src="images/temp/big-photo-product.jpg" alt=""/>

                    </div>
                <% end %>
            </div>
        </div>

    </div>
    <nav class="modal__nav">
        <a data-target="0" href="#"><img src="images/temp/small-photo1.jpg" alt=""/></a>
        <a data-target="1" href="#"><img src="images/temp/small-photo2.jpg" alt=""/></a>
        <a data-target="2" href="#"><img src="images/temp/small-photo3.jpg" alt=""/></a>
        <a data-target="3" href="#"><img src="images/temp/small-photo4.jpg" alt=""/></a>
    </nav>
</div>