<%= render :partial => "head", :locals => {:bodyClass => ""} %>

<%= render :partial => "swiperModal" %>
<%= render :partial => "menu" %>



<div class="container">
    <div class="scroller">

        <div class="content login login_register">
            <div class="login__logo"></div>
            <button class="btnGn">вход</button>
            <button class="btnGn btnGn_transparent">регистрация</button>
            <a class="btnForgotPass" href="#">Забыли пароль?</a>
        </div>
    </div>
</div>
<%= render :partial => "js" %>

</body>
</html>


