<%= render :partial => "head", :locals => {:bodyClass => ""} %>

<%= render :partial => "swiperModal" %>
<%= render :partial => "menu" %>



<div class="container">
    <div class="scroller">
        <header class="header">
            <span class="header__btnMenu">Восстановление пароля</span>
        </header>
        <div class="content login tac">
            <form class="form" action="/">

                <p>
                    Пользователь не найден!        <br/>

                    <i class="icon icon_no_user"></i>   <br/>

                    Пожалуйста, <br/>
                    убедитесь в правильности данных.
                </p>

                <p>
                    Укажите <strong>телефон</strong> или <strong>e-mail</strong>,
                    который Вы использовали ранее
                    для входа в hochuza:
                </p>

                <div class="form__section">
                    <div class="form__fld">
                        <input type="text" class="icontrol tac" placeholder="Телефон или e-mail"/>
                    </div>
                </div>
                <button class="btnGn" type="submit">далее</button>
            </form>
        </div>
    </div>
</div>
<%= render :partial => "js" %>

</body>
</html>


