<%= render :partial => "head", :locals => {:bodyClass => ""} %>

<%= render :partial => "swiperModal" %>
<%= render :partial => "menu" %>



<div class="container">
    <div class="scroller">
        <header class="header">
            <span class="header__btnMenu">Восстановление пароля</span>
            <span class="header__btnPlus"></span>
        </header>
        <div class="content login tac">
            <form class="form" action="/">


                <p>
                    На номер +380*******33 <br/>
                    в течение десяти минут<br/>
                    придёт SMS с кодом,<br/>
                    который необходимо ввести ниже:
                </p>

                <div class="form__section">
                    <div class="form__fld">
                        <input type="text" class="icontrol tac" placeholder="Пожалуйста, введите код здесь"/>
                    </div>
                </div>
                <button class="btnGn" type="submit">далее</button>
            </form>
        </div>
    </div>
</div>
<%= render :partial => "js" %>

</body>
</html>


