<%= render :partial => "head", :locals => {:bodyClass => ""} %>

<%= render :partial => "swiperModal" %>
<%= render :partial => "menu" %>



<div class="container">
    <div class="scroller">
        <header class="header">
            <span class="header__btnMenu">Восстановление пароля</span>
        </header>
        <div class="content login tac">


            <p>
                Это та страница, к которой необходимо
                восстановить доступ?
            </p>

            <img src="images/temp/_ava@2x.jpg" width="167" alt=""/>

            <p>
                <strong>Имя Фамилия</strong>  <br/>
                welcome@bigdig.com
            </p>
            <button class="btnGn">верно!</button>

        </div>
    </div>
</div>
<%= render :partial => "js" %>

</body>
</html>


